.gallery {
  overflow: hidden;
  width: 100%;
}

.gallery1 .gallery2{
  float: left;
  width: 100%;
  text-align: justify;

}

.clear{clear:both;}

img {
  width: 300px;
  height: 400px;
  margin: 20px;
  display:inline-block;
}

.gallery ul li {
  float: left;
}
